@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic);

div{
  background-color: #3fe3e8;
  height: 150%;
  width: 100%;
  text-align: center;
}

body {
    margin: 0 auto;
}
img{
  /*margin-top: 20%;*/
  border: white inset 1vw;
  box-shadow: 0 2px 1px;
}

div.title{
  height: 300px;
}
h1{
  font-family: 'Cuprum', sans-serif;
  margin-top: -80px;
  color: white;
  opacity: .7;
  font-size: 4rem;
  position: relative;
}
