@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic);

div{
  background-color: #3fe3e8;
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
    margin: 0 auto;
}
img{
  /*margin-top: 20%;*/
  border: white inset 1vw;
  box-shadow: 0 2px 1px;
}

h1{
  font-family: 'Cuprum', sans-serif;
  padding-top: 5%;
  color: white;
  opacity: .7;
  font-size: 4rem;
}
